In [1]:
import pandas as pd
import numpy as np

In [2]:
team_hitter = []
for i in  range(5):
    team_hitter.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_팀타자_20{16+i}.csv'))
hitter_data = pd.concat([team_hitter[i] for i in range(len(team_hitter))])

In [3]:
team_pitcher = []
for i in  range(5):
    team_pitcher.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_팀투수_20{16+i}.csv'))
pitcher_data = pd.concat([team_pitcher[i] for i in range(len(team_hitter))])

In [4]:
hitter = []
for i in  range(5):
    hitter.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_개인타자_20{16+i}.csv', encoding="cp949"))
hitter_p_data = pd.concat([hitter[i] for i in range(len(hitter))])

In [5]:
pitcher = []
for i in  range(5):
    pitcher.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_개인투수_20{16+i}.csv', encoding="cp949"))
pitcher_p_data = pd.concat([pitcher[i] for i in range(len(pitcher))])

In [6]:
team = []
for i in  range(5):
    team.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_등록선수_20{16+i}.csv', encoding="cp949"))
team_data = pd.concat([team[i] for i in range(len(hitter))])

In [7]:
game = []
for i in  range(5):
    game.append(pd.read_csv(f'2020빅콘테스트_스포츠투아이_제공데이터_경기_20{16+i}.csv', encoding="cp949"))
game_data = pd.concat([game[i] for i in range(len(hitter))])

In [8]:
# #데이터 추가
# hitter_data["strike_out_rate"] = hitter_data["KK"] / hitter_data["AB"]
# hitter_data["4ball_rate"] = 
# hitter_data["ERA_mean"] = 
# batting_average = hitter_data.groupby("T_ID")["RUN"].sum() / hitter_data.groupby("T_ID")["AB"].sum()

In [9]:
team_hitter

[               G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  PA  AB  RBI  RUN  \
 0     20160401HHLG0  20160401   LG      HH          0     B  47  42    4    5
 1     20160401HHLG0  20160401   HH      LG          0     T  52  46    4    4
 2     20160401HTNC0  20160401   NC      HT          0     B  36  30    5    5
 3     20160401HTNC0  20160401   HT      NC          0     T  38  34    3    4
 4     20160401KTSK0  20160401   SK      KT          0     B  36  36    4    4
 ...             ...       ...  ...     ...        ...   ...  ..  ..  ...  ...
 1435  20161008SSSK0  20161008   SS      SK          0     T  39  36    5    6
 1436  20161009KTNC0  20161009   NC      KT          0     B  41  39    3    4
 1437  20161009KTNC0  20161009   KT      NC          0     T  43  38    5    7
 1438  20161009WOLT0  20161009   LT      WO          0     B  38  36    8    8
 1439  20161009WOLT0  20161009   WO      LT          0     T  38  33    5    5

       ...  BB  IB  HP  KK  GD  ERR  LOB  P_HRA_RT  P_AB_CN  P_HIT_CN
 0     ...   4   0   0  11   0    0    8  0.333333       12         4
 1     ...   3   0   0  10   1    2   12  0.200000       15         3
 2     ...   5   0   0   9   1    1    7  0.142857        7         1
 3     ...   3   0   1  10   1    0    7  0.100000       10         1
 4     ...   0   0   0   7   1    1    5  0.375000        8         3
 ...   ...  ..  ..  ..  ..  ..  ...  ...       ...      ...       ...
 1435  ...   3   0   0   4   1    2    6  0.250000        8         2
 1436  ...   1   0   1  13   0    0   10  0.111111       18         2
 1437  ...   3   0   0   7   0    0    9  0.100000       10         1
 1438  ...   1   0   1   4   2    0    6  0.416667       12         5
 1439  ...   3   0   0   6   1    3    6  0.428571        7         3

 [1440 rows x 28 columns],
                G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  PA  AB  RBI  RUN  \
 0     20170331HHOB0  20170331   OB      HH          0     B  33  27    3    3
 1     20170331HHOB0  20170331   HH      OB          0     T  33  29    0    0
 2     20170331HTSS0  20170331   SS      HT          0     B  33  31    2    2
 3     20170331HTSS0  20170331   HT      SS          0     T  42  34    7    7
 4     20170331KTSK0  20170331   SK      KT          0     B  36  33    2    2
 ...             ...       ...  ...     ...        ...   ...  ..  ..  ...  ...
 1435  20171003NCHH0  20171003   NC      HH          0     T  54  48    8    8
 1436  20171003SKOB0  20171003   OB      SK          0     B  36  31    2    2
 1437  20171003SKOB0  20171003   SK      OB          0     T  38  35    3    3
 1438  20171003WOSS0  20171003   SS      WO          0     B  41  37   10   10
 1439  20171003WOSS0  20171003   WO      SS          0     T  45  41    8    9

       ...  BB  IB  HP  KK  GD  ERR  LOB  P_HRA_RT  P_AB_CN  P_HIT_CN
 0     ...   2   0   2   8   0    1    6  0.111111        9         1
 1     ...   3   0   0   8   0    4    6  0.000000        4         0
 2     ...   1   0   0   7   1    1    4  0.000000        3         0
 3     ...   8   0   0   5   0    1    8  0.285714        7         2
 4     ...   0   0   1   8   1    1    7  0.400000        5         2
 ...   ...  ..  ..  ..  ..  ..  ...  ...       ...      ...       ...
 1435  ...   4   0   2   8   1    1   10  0.555556        9         5
 1436  ...   3   0   1   5   1    2    7  0.166667        6         1
 1437  ...   3   0   0   8   0    0    8  0.200000       10         2
 1438  ...   4   0   0   5   0    1    7  0.461538       13         6
 1439  ...   4   0   0  12   1    2    9  0.307692       13         4

 [1440 rows x 28 columns],
                G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  PA  AB  RBI  RUN  \
 0     20180324HHWO0  20180324   WO      HH          0     B  41  37    5    6
 1     20180324HHWO0  20180324   HH      WO          0     T  38  37    2    3
 2     20180324KTHT0  20180324   HT      KT          0     B  43  36    4    4
 3     20180324KTHT0  20180324   KT      HT          0     T  38  37    5    5
 4     20180324LGNC0  20180324   NC      LG          0     B  35  30    4    4
 ...             ...       ...  ...     ...        ...   ...  ..  ..  ...  ...
 1435  20181013NCHH0  20181013   NC      HH          0     T  41  35    8    8
 1436  20181013WOSS0  20181013   SS      WO          0     B  44  40   12   12
 1437  20181013WOSS0  20181013   WO      SS          0     T  38  35    5    5
 1438  20181014OBLT0  20181014   LT      OB          0     B  34  32    1    1
 1439  20181014OBLT0  20181014   OB      LT          0     T  37  34    4    5

       ...  BB  IB  HP  KK  GD  ERR  LOB  P_HRA_RT  P_AB_CN  P_HIT_CN
 0     ...   4   0   0  10   0    0   11  0.235294       17         4
 1     ...   1   0   0   9   0    1    8  0.230769       13         3
 2     ...   2   0   2   8   0    0   12  0.272727       11         3
 3     ...   1   0   0   9   0    0    6  0.400000        5         2
 4     ...   4   0   0   9   0    0    7  0.166667        6         1
 ...   ...  ..  ..  ..  ..  ..  ...  ...       ...      ...       ...
 1435  ...   6   0   0  11   0    1    6  0.285714        7         2
 1436  ...   3   0   0   8   1    0    8  0.416667       12         5
 1437  ...   3   0   0   6   1    0    6  0.400000        5         2
 1438  ...   2   0   0   4   3    0    6  0.000000        3         0
 1439  ...   2   0   1   2   1    0    5  0.333333        6         2

 [1440 rows x 28 columns],
                G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  PA  AB  RBI  RUN  \
 0     20190323HHOB0  20190323   HH      OB          0     T  42  34    4    4
 1     20190323LGHT0  20190323   HT      LG          0     B  33  28    0    0
 2     20190323KTSK0  20190323   KT      SK          0     T  39  36    4    4
 3     20190323LGHT0  20190323   LG      HT          0     T  34  31    2    2
 4     20190323WOLT0  20190323   LT      WO          0     B  37  35    4    4
 ...             ...       ...  ...     ...        ...   ...  ..  ..  ...  ...
 1435  20190930SKHH0  20190930   SK      HH          0     T  41  33    6    6
 1436  20191001WOLT0  20191001   LT      WO          0     B  37  36    1    1
 1437  20191001NCOB0  20191001   NC      OB          0     T  45  43    4    5
 1438  20191001NCOB0  20191001   OB      NC          0     B  42  40    5    6
 1439  20191001WOLT0  20191001   WO      LT          0     T  38  35    2    3

       ...  BB  IB  HP  KK  GD  ERR  LOB  P_HRA_RT  P_AB_CN  P_HIT_CN
 0     ...   5   0   1   7   2    1   11  0.200000       10         2
 1     ...   3   0   1   6   1    0    6  0.000000        9         0
 2     ...   3   0   0  10   1    1    8  0.200000       10         2
 3     ...   3   0   0  12   3    0    5  0.142857        7         1
 4     ...   1   0   1  11   0    2    6  0.230769       13         3
 ...   ...  ..  ..  ..  ..  ..  ...  ...       ...      ...       ...
 1435  ...   6   1   0   9   1    1    8  0.400000       10         4
 1436  ...   1   0   0   8   0    2    9  0.166667        6         1
 1437  ...   2   0   0   7   1    1   13  0.250000       16         4
 1438  ...   1   0   0   6   0    0   11  0.266667       15         4
 1439  ...   3   0   0   9   1    0    8  0.300000       10         3

 [1440 rows x 28 columns],
               G_ID   GDAY_DS T_ID VS_T_ID  HEADER_NO TB_SC  PA  AB  RBI  RUN  \
 0    20200505HHSK0  20200505   SK      HH          0     B  30  29    0    0
 1    20200505HHSK0  20200505   HH      SK          0     T  35  31    3    3
 2    20200505LTKT0  20200505   KT      LT          0     B  35  30    2    2
 3    20200505LTKT0  20200505   LT      KT          0     T  37  32    7    7
 4    20200505NCSS0  20200505   SS      NC          0     B  36  30    0    0
 ..             ...       ...  ...     ...        ...   ...  ..  ..  ...  ...
 635  20200719LTSS0  20200719   LT      SS          0     T  31  29    2    2
 636  20200719OBHT0  20200719   HT      OB          0     B  38  32    4    4
 637  20200719OBHT0  20200719   OB      HT          0     T  41  37    8    8
 638  20200719WOSK0  20200719   SK      WO          0     B  37  30    3    4
 639  20200719WOSK0  20200719   WO      SK          0     T  37  33    3    3

      ...  BB  IB  HP  KK  GD  ERR  LOB  P_HRA_RT  P_AB_CN  P_HIT_CN
 0    ...   1   0   0   2   0    0    3  0.000000        1         0
 1    ...   2   0   0   5   1    0    5  0.250000        8         2
 2    ...   5   0   0   8   1    0    6  0.000000        4         0
 3    ...   4   0   0   9   1    1    3  0.666667        3         2
 4    ...   6   0   0   8   0    0    9  0.000000        5         0
 ..   ...  ..  ..  ..  ..  ..  ...  ...       ...      ...       ...
 635  ...   1   0   0   7   3    0    2  0.000000        2         0
 636  ...   6   0   0   5   1    0    7  0.571429        7         4
 637  ...   2   1   2   4   0    0    6  0.363636       11         4
 638  ...   7   0   0  10   0    0    9  0.250000        8         2
 639  ...   3   0   1   4   1    0    7  0.333333        3         1

 [640 rows x 28 columns]]

# 팀 타율에 영향을 끼치는 변수 확인

### 볼넷 비율은 볼넷 합/타수로 나눠주기때문에 four_ball_average 수정 
### 안타당 타점을 얻을 비율 Avg_point에 넣음
### 한선수가 noting 타석에 섰는데 안타도 X 희타, 희비 X , 4구, 고의4구, 사구도 아닐확률

In [10]:
four_ball_average = hitter_p_data.groupby('P_ID')["BB"].sum() / hitter_p_data.groupby('P_ID')['PA'].sum() #선수의 타석당 볼넷 갯수의 평균
steal = hitter_p_data.groupby('P_ID')["SB"].sum() / (hitter_p_data.groupby('P_ID')["SB"].sum()+hitter_p_data.groupby('P_ID')["CS"].sum()) #타자당 도루 성공확률 구하기
RBI = hitter_p_data.groupby('P_ID')["RBI"].sum() / hitter_p_data.groupby('P_ID')["PA"].sum() #선수 타석당 평균 타점
Avg_point = (hitter_p_data.groupby('P_ID')["RBI"].sum() +hitter_p_data.groupby('P_ID')["RBI"].sum()) / hitter_p_data.groupby('P_ID')["HIT"].sum() #안타당 평균 타점
nothing = 1-(hitter_p_data.groupby('P_ID')["HIT"].sum() + hitter_p_data.groupby('P_ID')["SH"].sum()+hitter_p_data.groupby('P_ID')["SF"].sum() + hitter_p_data.groupby('P_ID')["BB"].sum() + hitter_p_data.groupby('P_ID')["IB"].sum() +hitter_p_data.groupby('P_ID')["HP"].sum())/ hitter_p_data.groupby('P_ID')["PA"].sum() #안타당 평균 타점 #타석에 나가서 아무것도 못하고 돌아올 확률

In [11]:
for_team = pd.DataFrame(four_ball_average) # team_data에 merge할 데이터들 모음
for_team = pd.concat([for_team,steal,RBI, Avg_point, nothing],axis=1) # 포볼비율, 도루, 타점

for_team.columns = ["four_ball","steal","RBI", "Avg_point", "noting"]
team_data_1 = pd.merge(team_data,for_team, on="P_ID",how="left")


team_data_1 = team_data_1.dropna(axis=0)#결측치는 비 출전 선수인듯 제거
team_data_1

,GDAY_DS,T_ID,P_ID,ENTRY_YN,four_ball,steal,RBI,Avg_point,noting
0,20160401,HH,60404,Y,0.057692,0.000000,0.019231,0.400000,0.807692
7,20160401,HH,61700,N,0.116348,0.533333,0.075110,0.739130,0.649485
8,20160401,HH,62700,Y,0.046997,0.537037,0.111619,0.879177,0.672977
11,20160401,HH,62797,N,0.087308,0.611111,0.090542,0.805755,0.645918
14,20160401,HH,63700,N,0.057377,0.000000,0.122951,1.363636,0.713115
...,...,...,...,...,...,...,...,...,...
520322,20200719,LG,78217,Y,0.096016,0.738462,0.066394,0.560345,0.636364
520323,20200719,LG,78361,N,0.084586,0.692308,0.092105,0.753846,0.644737
520325,20200719,LG,79109,Y,0.105634,0.740000,0.119718,1.030303,0.624120
520327,20200719,LG,79150,Y,0.081315,0.700000,0.081315,0.770492,0.676471
520328,20200719,LG,79192,N,0.057665,0.548387,0.157525,1.140917,0.627754

In [12]:
#팀타자 데이터들에서 년도별 팀 타율을 확인하기 위해 년도 데이터 프레임 만들어서 append
year=hitter_data['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year.rename(columns={'GDAY_DS': 'year'}, inplace=True)
for_team_hit = pd.DataFrame(hitter_data) # for_team_hit완성
for_team_hit = pd.concat([hitter_data, year], axis=1)
for_team_hit.rename(columns={for_team_hit.columns[28]:'year'}, inplace=True)

In [13]:
year_team_hit_avg=for_team_hit.groupby(['year', 'T_ID'])["HIT"].sum()/for_team_hit.groupby(['year', 'T_ID'])["AB"].sum() #연도별 팀 타율
make_score_ratio=for_team_hit.groupby(['year', 'T_ID'])['P_HIT_CN'].sum()/for_team_hit.groupby(['year', 'T_ID'])['P_AB_CN'].sum()#득점권 타수와 득점권hit를 나누어 주어 득점권에서 안타를 칠 확률을 구한다.

In [14]:
for_team_hit=pd.DataFrame(year_team_hit_avg)
for_team_hit = pd.concat([year_team_hit_avg, make_score_ratio],axis=1) # 연도별 팀타율, 팀별 득점권에서 득점할 확률
for_team_hit.columns = ["year_team_hit_avg","make_score_ratio"]
for_team_hit

           year_team_hit_avg  make_score_ratio
year T_ID
2016 HH             0.289293          0.300853
     HT             0.285857          0.287747
     KT             0.275841          0.277904
     LG             0.289844          0.285511
     LT             0.287742          0.285017
     NC             0.290993          0.302391
     OB             0.298176          0.305457
     SK             0.291459          0.275727
     SS             0.292951          0.298222
     WO             0.293387          0.306429
2017 HH             0.287276          0.290100
     HT             0.302217          0.323720
     KT             0.275471          0.290040
     LG             0.281149          0.295161
     LT             0.285342          0.279820
     NC             0.293168          0.292135
     OB             0.293806          0.295754
     SK             0.271472          0.272881
     SS             0.278508          0.284639
     WO             0.290114          0.289971
2018 HH             0.275342          0.283346
     HT             0.295274          0.302023
     KT             0.274970          0.273387
     LG             0.293294          0.306657
     LT             0.289279          0.289609
     NC             0.261491          0.267997
     OB             0.309312          0.317308
     SK             0.281050          0.287758
     SS             0.287923          0.281938
     WO             0.288076          0.296062
2019 HH             0.256043          0.254725
     HT             0.263849          0.255778
     KT             0.276939          0.270084
     LG             0.267045          0.265193
     LT             0.250254          0.250000
     NC             0.278382          0.266249
     OB             0.277631          0.276692
     SK             0.262248          0.278092
     SS             0.255857          0.254112
     WO             0.281507          0.300000
2020 HH             0.239796          0.232604
     HT             0.275632          0.282288
     KT             0.290933          0.291935
     LG             0.279059          0.318099
     LT             0.274238          0.274476
     NC             0.290121          0.328836
     OB             0.302407          0.322086
     SK             0.242661          0.247379
     SS             0.274465          0.303448
     WO             0.270916          0.296358

## 위 데이터 team_data으로 합칠 필요가 있다

In [15]:
hitter_data["AVG"] = hitter_data["HIT"] / hitter_data["AB"]
all_data = hitter_data.drop(["G_ID",'HEADER_NO', 'TB_SC', 'PA', 'AB',
       'RBI', 'RUN', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'ERR', 'LOB', 'P_HRA_RT', 'P_AB_CN', 'P_HIT_CN'],axis=1) 
#팀 타자 데이터에서 타율(AVG)와 게임데이, 팀 ID 제외하고 다 날림 all_data

In [16]:
# year을 기준으로 팀 타율 평균과 점수 비율을 구했기때문에 year행을 만들어 merge 시키기위해 all_Data에 merge행 만들기
year_of_hitter=all_data['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_of_hitter = pd.DataFrame(year_of_hitter) # for_team_hit완성
year_of_hitter.rename(columns={'GDAY_DS': 'year'}, inplace=True)
all_data = pd.concat([all_data, year_of_hitter], axis=1)

In [17]:
all_data

      GDAY_DS T_ID VS_T_ID       AVG  year
0    20160401   LG      HH  0.214286  2016
1    20160401   HH      LG  0.282609  2016
2    20160401   NC      HT  0.300000  2016
3    20160401   HT      NC  0.235294  2016
4    20160401   SK      KT  0.277778  2016
..        ...  ...     ...       ...   ...
635  20200719   LT      SS  0.206897  2020
636  20200719   HT      OB  0.250000  2020
637  20200719   OB      HT  0.297297  2020
638  20200719   SK      WO  0.200000  2020
639  20200719   WO      SK  0.212121  2020

[6400 rows x 5 columns]

In [18]:
for_team_hit

           year_team_hit_avg  make_score_ratio
year T_ID
2016 HH             0.289293          0.300853
     HT             0.285857          0.287747
     KT             0.275841          0.277904
     LG             0.289844          0.285511
     LT             0.287742          0.285017
     NC             0.290993          0.302391
     OB             0.298176          0.305457
     SK             0.291459          0.275727
     SS             0.292951          0.298222
     WO             0.293387          0.306429
2017 HH             0.287276          0.290100
     HT             0.302217          0.323720
     KT             0.275471          0.290040
     LG             0.281149          0.295161
     LT             0.285342          0.279820
     NC             0.293168          0.292135
     OB             0.293806          0.295754
     SK             0.271472          0.272881
     SS             0.278508          0.284639
     WO             0.290114          0.289971
2018 HH             0.275342          0.283346
     HT             0.295274          0.302023
     KT             0.274970          0.273387
     LG             0.293294          0.306657
     LT             0.289279          0.289609
     NC             0.261491          0.267997
     OB             0.309312          0.317308
     SK             0.281050          0.287758
     SS             0.287923          0.281938
     WO             0.288076          0.296062
2019 HH             0.256043          0.254725
     HT             0.263849          0.255778
     KT             0.276939          0.270084
     LG             0.267045          0.265193
     LT             0.250254          0.250000
     NC             0.278382          0.266249
     OB             0.277631          0.276692
     SK             0.262248          0.278092
     SS             0.255857          0.254112
     WO             0.281507          0.300000
2020 HH             0.239796          0.232604
     HT             0.275632          0.282288
     KT             0.290933          0.291935
     LG             0.279059          0.318099
     LT             0.274238          0.274476
     NC             0.290121          0.328836
     OB             0.302407          0.322086
     SK             0.242661          0.247379
     SS             0.274465          0.303448
     WO             0.270916          0.296358

In [19]:
all_data=pd.merge(all_data, for_team_hit, on= ('year','T_ID'))

In [20]:
all_data

,GDAY_DS,T_ID,VS_T_ID,AVG,year,year_team_hit_avg,make_score_ratio
0,20160401,LG,HH,0.214286,2016,0.289844,0.285511
1,20160402,LG,HH,0.300000,2016,0.289844,0.285511
2,20160405,LG,HT,0.205882,2016,0.289844,0.285511
3,20160407,LG,HT,0.289474,2016,0.289844,0.285511
4,20160408,LG,SK,0.121212,2016,0.289844,0.285511
...,...,...,...,...,...,...,...
6395,20200715,WO,NC,0.312500,2020,0.270916,0.296358
6396,20200716,WO,NC,0.200000,2020,0.270916,0.296358
6397,20200717,WO,SK,0.342105,2020,0.270916,0.296358
6398,20200718,WO,SK,0.218750,2020,0.270916,0.296358
6399,20200719,WO,SK,0.212121,2020,0.270916,0.296358

In [21]:
four_ball = team_data_1.groupby(["T_ID","GDAY_DS"])["four_ball"].mean() #팀과 게임 날짜를 기준으로 선수들의 4구개수의 평균을 구함
steal = team_data_1.groupby(["T_ID","GDAY_DS"])["steal"].mean() 
RBI = team_data_1.groupby(["T_ID","GDAY_DS"])["RBI"].mean() 

all_data = pd.merge(all_data,four_ball, on=["T_ID","GDAY_DS"], how="left")
all_data = pd.merge(all_data,steal, on=["T_ID","GDAY_DS"], how="left")
all_data = pd.merge(all_data,RBI, on=["T_ID","GDAY_DS"], how="left")
all_data

,GDAY_DS,T_ID,VS_T_ID,AVG,year,year_team_hit_avg,make_score_ratio,four_ball,steal,RBI
0,20160401,LG,HH,0.214286,2016,0.289844,0.285511,0.073353,0.575814,0.110660
1,20160402,LG,HH,0.300000,2016,0.289844,0.285511,0.073353,0.575814,0.110660
2,20160405,LG,HT,0.205882,2016,0.289844,0.285511,0.073353,0.575814,0.110660
3,20160407,LG,HT,0.289474,2016,0.289844,0.285511,0.073353,0.575814,0.110660
4,20160408,LG,SK,0.121212,2016,0.289844,0.285511,0.073353,0.575814,0.110660
...,...,...,...,...,...,...,...,...,...,...
6395,20200715,WO,NC,0.312500,2020,0.270916,0.296358,0.087895,0.581876,0.119756
6396,20200716,WO,NC,0.200000,2020,0.270916,0.296358,0.087895,0.581876,0.119756
6397,20200717,WO,SK,0.342105,2020,0.270916,0.296358,0.087895,0.581876,0.119756
6398,20200718,WO,SK,0.218750,2020,0.270916,0.296358,0.087895,0.581876,0.119756
6399,20200719,WO,SK,0.212121,2020,0.270916,0.296358,0.087895,0.581876,0.119756

In [22]:
all_data[all_data.isnull().any(axis=1)] # 2016 KT선수들의 데이터가 결측치로 나와서 제거
all_data = all_data.dropna(axis=0)
all_data2 = all_data.drop(["AVG"], axis=1)

In [73]:
all_data2.to_csv('hitter.csv')

In [23]:
from sklearn.preprocessing import LabelEncoder #팀이름 라벨 인코딩
le = LabelEncoder()
all_data2["T_ID"] = le.fit_transform(all_data2["T_ID"])
all_data2["VS_T_ID"] = le.fit_transform(all_data2["VS_T_ID"])

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(all_data2,all_data["AVG"], test_size=0.2, random_state=42)

In [25]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_jobs=-1)
rf.fit(X_train,y_train)
result = rf.predict(X_test)

In [26]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,result)

0.008526039279002822

In [27]:
#0.008596786874816291

# 팀방어율 영향을 끼칠수 있는 변수들

### 평균자책점 = 자책점 / 게임(9이닝) = 자책점 / (이닝÷9) = (자책점/ 이닝)*9

In [28]:
# year을 기준으로 팀 방어율 평균을 구하기 위해 year행을 만들어 merge 시키기위해 all_data_pitcher merge행 만들기
year_of_pitcher=pitcher_p_data['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_of_pitcher = pd.DataFrame(year_of_pitcher)
year_of_pitcher.rename(columns={'GDAY_DS': 'year'}, inplace=True)
all_data_p_pitcher = pd.concat([pitcher_p_data, year_of_pitcher], axis=1)

In [29]:
#상대 팀마다 투수 평균자책점 구하기 
pitcher_data_p_lose_score=9*((all_data_p_pitcher.groupby(['VS_T_ID', 'P_ID'])['ER'].sum())/ (all_data_p_pitcher.groupby(['VS_T_ID', 'P_ID'])['INN2'].sum()/3)) #선발투수 평균자책점 구하기

In [30]:
for_team = pd.DataFrame(pitcher_data_p_lose_score) # team_data에 merge할 데이터들 모음

for_team.columns = ["pitcher_data_p_lose_score"]
team_data_3 = pd.merge(team_data,for_team, on="P_ID",how="left")


team_data_3 = team_data_3.dropna(axis=0)#결측치는 비 출전 선수인듯 제거
team_data_3

          GDAY_DS T_ID   P_ID ENTRY_YN  pitcher_data_p_lose_score
2        20160401   HH  60757        Y                   3.176471
3        20160401   HH  60757        Y                   0.000000
4        20160401   HH  60757        Y                  11.250000
5        20160401   HH  60757        Y                   2.454545
6        20160401   HH  60757        Y                   9.000000
...           ...  ...    ...      ...                        ...
2168020  20200719   LG  79825        Y                   4.153846
2168021  20200719   LG  79825        Y                   5.062500
2168022  20200719   LG  79825        Y                   4.378378
2168023  20200719   LG  79825        Y                   3.724138
2168024  20200719   LG  79825        Y                   3.483871

[1879365 rows x 5 columns]

In [31]:
# year을 기준으로 팀 방어율 평균을 구하기 위해 year행을 만들어 merge 시키기위해 all_data_pitcher merge행 만들기
year_of_pitcher=pitcher_data['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_of_pitcher = pd.DataFrame(year_of_pitcher)
year_of_pitcher.rename(columns={'GDAY_DS': 'year'}, inplace=True)
all_data_pitcher = pd.concat([pitcher_data, year_of_pitcher], axis=1)

In [32]:
#상대 팀당 평균자책점 구하기 
pitcher_data_lose_score=9*((all_data_pitcher.groupby(['year','VS_T_ID'])['ER'].sum())/ (all_data_pitcher.groupby(['year','VS_T_ID'])['INN2'].sum()/3)) #선발투수 평균자책점 구하기

In [33]:
# 결측치에 각 투수의 평균자책점을 넣는다
p_id_62263=9*(pitcher_p_data[pitcher_p_data['P_ID']==62263]['ER'].sum()/ (pitcher_p_data[pitcher_p_data['P_ID']==62263]['INN2'].sum()/3))
p_id_74543=9*(pitcher_p_data[pitcher_p_data['P_ID']==74543]['ER'].sum()/ (pitcher_p_data[pitcher_p_data['P_ID']==74543]['INN2'].sum()/3))
p_id_72649=9*(pitcher_p_data[pitcher_p_data['P_ID']==72649]['ER'].sum()/ (pitcher_p_data[pitcher_p_data['P_ID']==72649]['INN2'].sum()/3))
p_id_79235=9*(pitcher_p_data[pitcher_p_data['P_ID']==79235]['ER'].sum()/ (pitcher_p_data[pitcher_p_data['P_ID']==79235]['INN2'].sum()/3))
p_id_50662=9*(pitcher_p_data[pitcher_p_data['P_ID']==50662]['ER'].sum()/ (pitcher_p_data[pitcher_p_data['P_ID']==50662]['INN2'].sum()/3))
p_id_68249=9*(pitcher_p_data[pitcher_p_data['P_ID']==68249]['ER'].sum()/ (pitcher_p_data[pitcher_p_data['P_ID']==68249]['INN2'].sum()/3))

In [34]:
#팀당 경기당 투구수-팀 전체 평균 투구수해서 양수면 평균보다 공을 많이 던졌고 음수면 평균보다 공을 적게 던졌다.
#공을 많이 던질수록 안타등을 맞을 확률이 높기때문에 유의미한 변수가 될수 있다.
team_total_team_ball = pitcher_data.groupby('T_ID')['BF'].mean()
team_total_team_ball = team_total_team_ball.mean()
pitcher_data_ball_count=pitcher_data['BF'] - team_total_team_ball
pitcher_data_ball_count=pd.concat([pitcher_data, pitcher_data_ball_count], axis=1)
list=[]
for i in pitcher_data.columns:
    list.append(i)
list.append('ball_count')
pitcher_data_ball_count.columns=[i for i in list]
pitcher_data_ball_count = pitcher_data_ball_count.drop(["G_ID",'HEADER_NO', 'TB_SC', 'HOLD',
       'INN2', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'ERR', 'R','CB_WHIP_RT'],axis=1)

In [35]:
# year를 pitcher_data_ball_count에 merge
year_of_pitcher=pitcher_data_ball_count['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_of_pitcher = pd.DataFrame(year_of_pitcher)
year_of_pitcher.rename(columns={'GDAY_DS': 'year'}, inplace=True)
pitcher_data_ball_count = pd.concat([pitcher_data_ball_count, year_of_pitcher], axis=1)

In [36]:
pitcher_data_ball_count

      GDAY_DS T_ID VS_T_ID  CG_CK WLS   BF  ball_count  year
0    20160401   LG      HH      0   W  184   32.115287  2016
1    20160401   HH      LG      0   L  196   44.115287  2016
2    20160401   NC      HT      0   W  143   -8.884713  2016
3    20160401   HT      NC      0   L  147   -4.884713  2016
4    20160401   SK      KT      0   L  151   -0.884713  2016
..        ...  ...     ...    ...  ..  ...         ...   ...
635  20200719   LT      SS      0   W  155    3.115287  2020
636  20200719   HT      OB      0   L  137  -14.884713  2020
637  20200719   OB      HT      0   W  177   25.115287  2020
638  20200719   SK      WO      0   W  134  -17.884713  2020
639  20200719   WO      SK      0   L  173   21.115287  2020

[6400 rows x 8 columns]

In [37]:
# year을 기준으로 팀 방어율 평균을 구하기 위해 year행을 만들어 merge 시키기위해 all_data_pitcher merge행 만들기
year_of_pitcher=pitcher_p_data['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_of_pitcher = pd.DataFrame(year_of_pitcher)
year_of_pitcher.rename(columns={'GDAY_DS': 'year'}, inplace=True)
all_data_p_pitcher = pd.concat([pitcher_p_data, year_of_pitcher], axis=1)

In [38]:
# 득점권 whip을 이용하여 개별 투수의 상대팀당 득점권에서 안타 볼넷 허용률의 평균을구한다
pitcher_p_whip = all_data_p_pitcher.groupby(['year','VS_T_ID', 'P_ID'])['P_WHIP_RT'].mean()
pitcher_p_whip

year  VS_T_ID  P_ID
2016  HH       60146    2.25
               60164    1.50
               60181    0.75
               60263    0.75
               60339    0.75
                        ...
2020  WO       79293    0.00
               79358    0.00
               79545    0.00
               79764    2.25
               79825    0.00
Name: P_WHIP_RT, Length: 8438, dtype: float64

In [39]:
# 자책점의 합을 이용하여 개별 투수의 상대팀당 득점권 WHIP의 평균과 상관관계를 찾아본다
pitcher_p_ER = pitcher_p_data.groupby(['VS_T_ID', 'P_ID'])['ER'].sum()
pitcher_p_ER

pitcher_p_whip=pd.DataFrame(pitcher_p_whip)
pitcher_p_ER=pd.DataFrame(pitcher_p_ER)
corr_pitcher_ER_whip = pd.merge(pitcher_p_whip, pitcher_p_ER, on="P_ID",how="left")

corr_pitcher_ER_whip.corr()

           P_WHIP_RT        ER
P_WHIP_RT   1.000000  0.081341
ER          0.081341  1.000000

# 팀방어율 영향끼치는 변수 정리
### 개별투수 팀당 방어율, whip, 투구수 데이터 하나로 합치기

In [41]:
pitcher_data_p_lose_score_avg = team_data_3.groupby(['T_ID', 'GDAY_DS'])['pitcher_data_p_lose_score'].mean() #팀 선수등록과 ,게임코드를 기준으로 lose_score_평균계산

In [42]:
pitcher_p_whip

                    P_WHIP_RT
year VS_T_ID P_ID
2016 HH      60146       2.25
             60164       1.50
             60181       0.75
             60263       0.75
             60339       0.75
...                       ...
2020 WO      79293       0.00
             79358       0.00
             79545       0.00
             79764       2.25
             79825       0.00

[8438 rows x 1 columns]

In [43]:
pitcher_p_whip_avg = pitcher_p_whip.groupby(['VS_T_ID', 'year'])['P_WHIP_RT'].mean()

In [44]:
pitcher_p_whip_avg

VS_T_ID  year
HH       2016    1.069050
         2017    1.231424
         2018    1.012862
         2019    1.075451
         2020    0.796878
HT       2016    1.138922
         2017    1.592330
         2018    1.130379
         2019    1.036773
         2020    1.104397
KT       2016    1.143850
         2017    0.953658
         2018    1.082367
         2019    0.865353
         2020    1.313830
LG       2016    0.991549
         2017    1.244953
         2018    1.182949
         2019    0.995710
         2020    0.983494
LT       2016    1.477298
         2017    1.156873
         2018    1.183516
         2019    1.110133
         2020    1.098052
NC       2016    1.367540
         2017    1.330797
         2018    1.221808
         2019    1.076618
         2020    1.192040
OB       2016    1.551166
         2017    1.217773
         2018    1.408518
         2019    1.368119
         2020    1.152928
SK       2016    0.925864
         2017    1.101841
         2018    1.094625
         2019    1.116234
         2020    0.960768
SS       2016    1.328187
         2017    1.144621
         2018    1.159022
         2019    1.062244
         2020    0.962528
WO       2016    1.257422
         2017    1.260511
         2018    1.391051
         2019    1.345117
         2020    1.254316
Name: P_WHIP_RT, dtype: float64

In [45]:
all_data_pitcher = pitcher_data_ball_count.drop(['CG_CK'],axis=1) 
#팀 투수데이터에서 CG_CK 날림

In [46]:
all_data_pitcher = pd.merge(all_data_pitcher,pitcher_data_p_lose_score_avg, on=["T_ID","GDAY_DS"], how="left")
all_data_pitcher = pd.merge(all_data_pitcher,pitcher_p_whip_avg, on=["VS_T_ID", 'year'], how="left")
all_data_pitcher

,GDAY_DS,T_ID,VS_T_ID,WLS,BF,ball_count,year,pitcher_data_p_lose_score,P_WHIP_RT
0,20160401,LG,HH,W,184,32.115287,2016,inf,1.069050
1,20160401,HH,LG,L,196,44.115287,2016,5.978151,0.991549
2,20160401,NC,HT,W,143,-8.884713,2016,5.575896,1.138922
3,20160401,HT,NC,L,147,-4.884713,2016,inf,1.367540
4,20160401,SK,KT,L,151,-0.884713,2016,inf,1.143850
...,...,...,...,...,...,...,...,...,...
6395,20200719,LT,SS,W,155,3.115287,2020,6.418220,0.962528
6396,20200719,HT,OB,L,137,-14.884713,2020,6.559070,1.152928
6397,20200719,OB,HT,W,177,25.115287,2020,inf,1.104397
6398,20200719,SK,WO,W,134,-17.884713,2020,inf,1.254316
6399,20200719,WO,SK,L,173,21.115287,2020,inf,0.960768

In [74]:
all_data_pitcher.to_csv('pitcher.csv')

In [47]:
# 결측치 확인
all_data_pitcher.isnull().sum()

GDAY_DS                       0
T_ID                          0
VS_T_ID                       0
WLS                           0
BF                            0
ball_count                    0
year                          0
pitcher_data_p_lose_score    81
P_WHIP_RT                     0
dtype: int64

# 팀승률에 영향을 끼칠 수 있는 변수들

In [48]:
# team타자에 year변수 추가
year_team_hitter=hitter_data['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_team_hitter.rename(columns={'GDAY_DS': 'year'}, inplace=True)
year_team_hitter = pd.DataFrame(year_team_hitter)

hitter_data_include_year= pd.concat([hitter_data, year_team_hitter], axis=1)

hitter_data_include_year.rename(columns={0: 'year'}, inplace=True)

hitter_data_include_year

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,PA,AB,RBI,RUN,...,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,AVG,year
0,20160401HHLG0,20160401,LG,HH,0,B,47,42,4,5,...,0,11,0,0,8,0.333333,12,4,0.214286,2016
1,20160401HHLG0,20160401,HH,LG,0,T,52,46,4,4,...,0,10,1,2,12,0.200000,15,3,0.282609,2016
2,20160401HTNC0,20160401,NC,HT,0,B,36,30,5,5,...,0,9,1,1,7,0.142857,7,1,0.300000,2016
3,20160401HTNC0,20160401,HT,NC,0,T,38,34,3,4,...,1,10,1,0,7,0.100000,10,1,0.235294,2016
4,20160401KTSK0,20160401,SK,KT,0,B,36,36,4,4,...,0,7,1,1,5,0.375000,8,3,0.277778,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,20200719LTSS0,20200719,LT,SS,0,T,31,29,2,2,...,0,7,3,0,2,0.000000,2,0,0.206897,2020
636,20200719OBHT0,20200719,HT,OB,0,B,38,32,4,4,...,0,5,1,0,7,0.571429,7,4,0.250000,2020
637,20200719OBHT0,20200719,OB,HT,0,T,41,37,8,8,...,2,4,0,0,6,0.363636,11,4,0.297297,2020
638,20200719WOSK0,20200719,SK,WO,0,B,37,30,3,4,...,0,10,0,0,9,0.250000,8,2,0.200000,2020
639,20200719WOSK0,20200719,WO,SK,0,T,37,33,3,3,...,1,4,1,0,7,0.333333,3,1,0.212121,2020

In [49]:
# team투수에 year변수 추가
year_team_pitcher=pitcher_data['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_team_pitcher.rename(columns={'GDAY_DS': 'year'}, inplace=True)
year_team_pitcher = pd.DataFrame(year_team_pitcher)
pitcher_data_include_year= pd.concat([pitcher_data, year_team_pitcher], axis=1)
pitcher_data_include_year.rename(columns={0: 'year'}, inplace=True)

In [50]:
pitcher_data_include_year

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT,year
0,20160401HHLG0,20160401,LG,HH,0,B,0,W,0,36,...,1,0,0,0,4,4,0.642857,1.285714,2.400000,2016
1,20160401HHLG0,20160401,HH,LG,0,T,0,L,0,34,...,0,1,0,0,5,4,1.500000,1.000000,0.750000,2016
2,20160401HTNC0,20160401,NC,HT,0,B,0,W,0,27,...,1,2,0,0,4,4,1.333333,1.038462,2.142857,2016
3,20160401HTNC0,20160401,HT,NC,0,T,0,L,0,24,...,1,0,0,0,5,5,0.500000,1.695652,1.875000,2016
4,20160401KTSK0,20160401,SK,KT,0,B,0,L,0,27,...,0,0,0,0,8,8,1.000000,2.357143,2.250000,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,20200719LTSS0,20200719,LT,SS,0,T,0,W,2,27,...,1,0,0,0,1,1,0.600000,1.111111,1.500000,2020
636,20200719OBHT0,20200719,HT,OB,0,B,0,L,0,27,...,0,0,0,0,8,8,2.142857,1.800000,0.750000,2020
637,20200719OBHT0,20200719,OB,HT,0,T,0,W,1,27,...,1,0,0,0,4,4,3.000000,1.000000,1.875000,2020
638,20200719WOSK0,20200719,SK,WO,0,B,0,W,0,27,...,1,0,0,0,3,3,1.500000,1.105263,2.142857,2020
639,20200719WOSK0,20200719,WO,SK,0,T,0,L,2,24,...,0,2,0,0,4,4,1.800000,1.312500,1.333333,2020

In [51]:
Home_away_score=hitter_data_include_year.groupby(['year','T_ID', 'TB_SC'])["RUN"].mean() # 년도별 팀마다 초공격일때 득점과 말공격일떄 득점평균

In [52]:
Home_away_pitcher_score= pitcher_data_include_year.groupby(['year','T_ID', 'TB_SC'])["ER"].mean() #년도별 팀마다 초공격 말 수비일때 자책점 평균

In [53]:
# 팀별 투수, 타자 실책의 갯수 합쳐서 팀마다 경기당 실책이 나올 확률
pitcher_error_year=(pitcher_data_include_year.groupby(['year', 'T_ID'])['ERR'].mean()+pitcher_data_include_year.groupby(['year', 'T_ID'])['BK'].mean()+pitcher_data_include_year.groupby(['year', 'T_ID'])['WP'].mean())

In [54]:
# 매년 팀별 타자 실책의 평균
hitter_error_year=hitter_data_include_year.groupby(['year', 'T_ID'])['ERR'].mean()

In [55]:
# 매년 팀 전체 실책확률
team_tot_error=(pitcher_error_year+hitter_error_year)/2

In [56]:
team_tot_error

year  T_ID
2016  HH      0.701389
      HT      0.649306
      KT      0.750000
      LG      0.652778
      LT      0.618056
      NC      0.663194
      OB      0.517361
      SK      0.677083
      SS      0.520833
      WO      0.510417
2017  HH      0.597222
      HT      0.593750
      KT      0.677083
      LG      0.649306
      LT      0.555556
      NC      0.708333
      OB      0.513889
      SK      0.611111
      SS      0.600694
      WO      0.520833
2018  HH      0.638889
      HT      0.562500
      KT      0.565972
      LG      0.611111
      LT      0.656250
      NC      0.711806
      OB      0.524306
      SK      0.625000
      SS      0.447917
      WO      0.586806
2019  HH      0.611111
      HT      0.565972
      KT      0.548611
      LG      0.555556
      LT      0.767361
      NC      0.572917
      OB      0.472222
      SK      0.489583
      SS      0.552083
      WO      0.520833
2020  HH      0.700000
      HT      0.572581
      KT      0.562500
      LG      0.437500
      LT      0.588710
      NC      0.523810
      OB      0.515625
      SK      0.700000
      SS      0.492308
      WO      0.583333
dtype: float64

In [57]:
# 매년 팀 별 득점권 타율의 평균
team_score_mean_year=hitter_data_include_year.groupby(['VS_T_ID', 'year'])['P_HRA_RT'].mean()

In [58]:
team_score_mean_year

VS_T_ID  year
HH       2016    0.285059
         2017    0.282357
         2018    0.271173
         2019    0.274817
         2020    0.279254
HT       2016    0.272564
         2017    0.283101
         2018    0.287178
         2019    0.245182
         2020    0.260740
KT       2016    0.313797
         2017    0.306895
         2018    0.295386
         2019    0.247649
         2020    0.324015
LG       2016    0.282367
         2017    0.252760
         2018    0.269116
         2019    0.237715
         2020    0.253373
LT       2016    0.276525
         2017    0.258145
         2018    0.256016
         2019    0.257971
         2020    0.268475
NC       2016    0.254329
         2017    0.283214
         2018    0.297527
         2019    0.239688
         2020    0.228490
OB       2016    0.242796
         2017    0.252466
         2018    0.250435
         2019    0.224111
         2020    0.265766
SK       2016    0.253384
         2017    0.263802
         2018    0.268632
         2019    0.199034
         2020    0.269245
SS       2016    0.268668
         2017    0.269136
         2018    0.274297
         2019    0.240949
         2020    0.234955
WO       2016    0.266061
         2017    0.284477
         2018    0.275631
         2019    0.240152
         2020    0.264443
Name: P_HRA_RT, dtype: float64

In [59]:
# 매년 팀 별 투수 자책점 평균
team_lose_mean_year=pitcher_data_include_year.groupby(['VS_T_ID', 'year'])['ER'].mean()

In [60]:
# 득점권 타율을 만들 확률 (안타-득점권 안타)/(총타수-특점권 타수-홈런)
make_chance_tot=hitter_data_include_year.groupby(['VS_T_ID', 'year'])['AB'].sum()-hitter_data_include_year.groupby(['VS_T_ID', 'year'])['P_AB_CN'].sum()
make_chance_hit=hitter_data_include_year.groupby(['VS_T_ID', 'year'])['HIT'].sum()-hitter_data_include_year.groupby(['VS_T_ID', 'year'])['HR'].sum()-hitter_data_include_year.groupby(['VS_T_ID', 'year'])['P_HIT_CN'].sum()

tot_make_chane=make_chance_hit/make_chance_tot

In [61]:
tot_make_chane

VS_T_ID  year
HH       2016    0.253744
         2017    0.245638
         2018    0.230830
         2019    0.248195
         2020    0.247649
HT       2016    0.250972
         2017    0.257971
         2018    0.247387
         2019    0.244580
         2020    0.229008
KT       2016    0.263512
         2017    0.244759
         2018    0.255067
         2019    0.232240
         2020    0.224638
LG       2016    0.244774
         2017    0.232817
         2018    0.236941
         2019    0.233074
         2020    0.235012
LT       2016    0.250139
         2017    0.229672
         2018    0.236008
         2019    0.248201
         2020    0.217206
NC       2016    0.224345
         2017    0.214686
         2018    0.231964
         2019    0.231967
         2020    0.202801
OB       2016    0.244221
         2017    0.251834
         2018    0.233033
         2019    0.238633
         2020    0.258988
SK       2016    0.242559
         2017    0.245724
         2018    0.219324
         2019    0.232066
         2020    0.230292
SS       2016    0.247511
         2017    0.252849
         2018    0.239362
         2019    0.234319
         2020    0.218137
WO       2016    0.255353
         2017    0.246619
         2018    0.236148
         2019    0.247533
         2020    0.233372
dtype: float64

In [62]:
# 도루 실패 #경기당으로 바꿔도 무방?
steal_fail=hitter_data_include_year.groupby(['T_ID', 'year'])['CS'].sum()/hitter_data_include_year.groupby(['T_ID', 'year'])['SB'].sum()
#병살타 평균
two_out=hitter_data_include_year.groupby(['T_ID', 'year'])['ERR'].mean()
#게임당 잔루 수
remain_base=hitter_data_include_year.groupby(['T_ID', 'year'])['LOB'].mean()

In [63]:
# 완투승이 나올확률(완투승=1) mean을 씌워줌
remain_base=pitcher_data_include_year.groupby(['year'])['CG_CK'].mean()

In [64]:
remain_base

year
2016    0.012500
2017    0.016667
2018    0.011806
2019    0.015972
2020    0.006250
Name: CG_CK, dtype: float64

In [65]:
# 팀당 팀별 득점권 WHIP 평균 
vs_whip_avg=pitcher_data_include_year.groupby(['VS_T_ID','year'])['P_WHIP_RT'].mean()

# 팀승률에 영향끼치는 변수 정리

In [66]:
# 요일별 승률, stadium별 승률도 의미 있을수 있기에 Gweek, stadium은 가져온다
game_data_value=game_data.drop(['GDAY_DS', 'VISIT_KEY', 'HOME_KEY', 'HEADER_NO'], axis=1)

In [67]:
win_lose_ratio=pitcher_data
# win_lose_ratio에 year변수 추가
year_team=win_lose_ratio['GDAY_DS'].astype(str).str.slice(start=0, stop=4).astype(int)
year_team.rename(columns={'GDAY_DS': 'year'}, inplace=True)
year_team = pd.DataFrame(year_team)
win_lose_ratio= pd.concat([win_lose_ratio, year_team], axis=1)
win_lose_ratio.rename(columns={0: 'year'}, inplace=True)

In [68]:
win_lose_ratio = win_lose_ratio.drop(['GDAY_DS', 'HEADER_NO', 'TB_SC', 'HOLD', 'CG_CK', 'WLS', 'BF',
       'INN2', 'PA', 'AB', 'HIT', 'H2', 'H3', 'HR', 'SB', 'CS', 'SH', 'SF', 'BB',
       'IB', 'HP', 'KK', 'GD', 'WP', 'BK', 'ER', 'P_WHIP_RT', 'P2_WHIP_RT', 'ERR', 'R','CB_WHIP_RT'],axis=1)

In [69]:
win_lose_ratio

              G_ID T_ID VS_T_ID  year
0    20160401HHLG0   LG      HH  2016
1    20160401HHLG0   HH      LG  2016
2    20160401HTNC0   NC      HT  2016
3    20160401HTNC0   HT      NC  2016
4    20160401KTSK0   SK      KT  2016
..             ...  ...     ...   ...
635  20200719LTSS0   LT      SS  2020
636  20200719OBHT0   HT      OB  2020
637  20200719OBHT0   OB      HT  2020
638  20200719WOSK0   SK      WO  2020
639  20200719WOSK0   WO      SK  2020

[6400 rows x 4 columns]

In [70]:
team_tot_error=pd.DataFrame(team_tot_error)
team_tot_error.rename(columns={0:'team_tot_error'}, inplace=True)
team_score_mean_year=pd.DataFrame(team_score_mean_year)
team_score_mean_year.rename(columns={0:'team_score_mean_year'}, inplace=True)
team_lose_mean_year=pd.DataFrame(team_lose_mean_year)
team_lose_mean_year.rename(columns={0:'team_lose_mean_year'}, inplace=True)
steal_fail=pd.DataFrame(steal_fail)
steal_fail.rename(columns={0:'steal_fail'}, inplace=True)
tot_make_chane=pd.DataFrame(tot_make_chane)
tot_make_chane.rename(columns={0:'tot_make_chane'}, inplace=True)
two_out=pd.DataFrame(two_out)
two_out.rename(columns={0:'two_out'}, inplace=True)
remain_base=pd.DataFrame(remain_base)
remain_base.rename(columns={0:'remain_base'}, inplace=True)
vs_whip_avg=pd.DataFrame(vs_whip_avg)
vs_whip_avg.rename(columns={0:'vs_whip_avg'}, inplace=True)

In [71]:
win_lose_ratio = pd.merge(win_lose_ratio, team_tot_error, on=["T_ID","year"], how="left")
win_lose_ratio = pd.merge(win_lose_ratio, team_score_mean_year, on=["VS_T_ID","year"], how="left")
win_lose_ratio = pd.merge(win_lose_ratio, team_lose_mean_year, on=["VS_T_ID","year"], how="left")
win_lose_ratio = pd.merge(win_lose_ratio, steal_fail, on=["T_ID","year"], how="left")
win_lose_ratio = pd.merge(win_lose_ratio, tot_make_chane, on=["VS_T_ID","year"], how="left")
win_lose_ratio = pd.merge(win_lose_ratio, two_out, on=["T_ID","year"], how="left")
win_lose_ratio = pd.merge(win_lose_ratio, remain_base, on=["year"], how="left")
win_lose_ratio = pd.merge(win_lose_ratio, vs_whip_avg, on=["VS_T_ID","year"], how="left")

win_lose_ratio

,G_ID,T_ID,VS_T_ID,year,team_tot_error,P_HRA_RT,ER,steal_fail,tot_make_chane,ERR,CG_CK,P_WHIP_RT
0,20160401HHLG0,LG,HH,2016,0.652778,0.285059,5.180556,0.578512,0.253744,0.604167,0.01250,1.719110
1,20160401HHLG0,HH,LG,2016,0.701389,0.282367,5.013889,0.593750,0.244774,0.694444,0.01250,1.614362
2,20160401HTNC0,NC,HT,2016,0.663194,0.272564,5.027778,0.414141,0.250972,0.597222,0.01250,1.646687
3,20160401HTNC0,HT,NC,2016,0.649306,0.254329,5.458333,0.495050,0.224345,0.638889,0.01250,1.851098
4,20160401KTSK0,SK,KT,2016,0.677083,0.313797,4.277778,0.674157,0.263512,0.729167,0.01250,1.651815
...,...,...,...,...,...,...,...,...,...,...,...,...
6395,20200719LTSS0,LT,SS,2020,0.588710,0.234955,4.723077,0.304348,0.218137,0.467742,0.00625,1.667217
6396,20200719OBHT0,HT,OB,2020,0.572581,0.265766,5.609375,0.421053,0.258988,0.564516,0.00625,1.933935
6397,20200719OBHT0,OB,HT,2020,0.515625,0.260740,4.548387,0.468750,0.229008,0.531250,0.00625,1.550957
6398,20200719WOSK0,SK,WO,2020,0.700000,0.264443,5.242424,0.636364,0.233372,0.661538,0.00625,1.919731
6399,20200719WOSK0,WO,SK,2020,0.583333,0.269245,3.569231,0.200000,0.230292,0.636364,0.00625,1.334123

In [75]:
win_lose_ratio.to_csv('win_lose_ratio.csv')

# 시계열을 통해 선수들의 form을 확인 타율평균에서 표준편차
# 선수 방어율 평균 표준편차

# 분기마다 데이터를 구해서 그거에 대한 분포를 구한다. 
# randomstate 코드를 복붙해서 수정해서 난수발생

# modeling은 DT로